body{
margin: 0;
}

.container{
background-color: #001233;
height: 100vh;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

.title{
font-family: "Raleway", sans-serif ;
font-weight: 900px;
font-size: 45px;
font-style: normal;
color: white;
}

.login-container{
background-color: white;
width: 410px;
height: 400px;
border-radius: 10px;
padding: 40px;
display: flex;
justify-content: space-between;
flex-direction: column;
}

.label{
font-family: "Raleway", sans-serif ;
font-size: 17px;
font-style: normal;
color: black;
}

.button-container{
display: flex;
justify-content: center;
flex-direction: column;
gap: 10px;
}

.container .btn-primary {
    text-decoration: none;
    background-color: #6f42c1;
    width: 100%;
    font-family: "Raleway", sans-serif ;
    font-weight: bold;
    border-radius: 0px;
    color: white;
    font-size: 16px;
    padding: 9px 0px 9px 0px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container .btn-primary:hover {
    background-color: #0056b3;
    color: white;
}
.input-blk{
    border: 0px;
    border-radius: 0px;
    border-bottom: 2px #b8b8aa solid;
    padding: 5px 10px;
    margin-bottom: 20px;
    width: 95%;
    font-size: 17px;
}
.merriweather-bold {
    font-family: "Raleway", sans-serif ;
    font-weight: 900;
    font-style: normal;
}
.wrong-message{
    color:red;
}