{% extends "nav.html" %}

{% block database2 %}
<body>

    <div class="container">
     <div class="table-responsive graphmargin">
        <table class="table">
            <thead>
                <tr> <!-- <tr> meaning? -->
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Date</th>
                    <th scope="col">Content (Text)</th>
                    <th scope="col">Sentiment</th>
                    <th scope="col">Download</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0</td>
                    <td>Scott</td>
                    <td>2023-03-12</td>
                    <td>Hello, this is scott... </td>
                    <td>20.0</td>
                    <td>
                        <button class="btn btn-danger" >Download</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


        <div class="row graphmargin">
            <div class="col-md-6">
                <div class="card chart-card px-4 py-4 mx-auto">
                    <div class="card-body">
                            <h2 class="card-title text-center">Consultants' Gender Distribution</h2>
                            <p class="text-center">Short description</p>
                            <canvas id="gender_distribution"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                  <div class="card chart-card px-4 py-4 mx-auto">
                    <div class="card-body">
                            <h2 class="card-title text-center">Consulting Topic</h2>
                            <p class="text-center">Short description</p>
                            <canvas id="type_distribution"></canvas>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="card chart-card px-4 py-4 mx-auto">
                    <div class="card-body">
                            <h2 class="card-title text-center">Consulting Sentiment Feedback</h2>
                            <p class="text-center">Short description</p>
                            <canvas id="sentiment_dist_canvas"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card chart-card px-4 py-4 mx-auto">
                    <div class="card-body">
                            <h2 class="card-title text-center">Age Distribution</h2>
                            <p class="text-center">Short description</p>
                            <canvas id="age_distribution"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card chart-card px-4 py-4 mx-auto">
                    <div class="card-body">
                            <h2 class="card-title text-center">MBTI Distribution</h2>
                            <p class="text-center">Short description</p>
                            <canvas id="mbti_distribution"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>

    function drawChart(chartId, chartType, chartData, chartOptions = {}){
        var ctx = document.getElementById(chartId).getContext('2d');
        new Chart(ctx, {
            type: chartType,
            data: chartData,
            options: chartOptions
        });
    }

    var genderDistribution = {{ gender_distribution | tojson }};
    var labels = Object.keys(genderDistribution);
    var data = Object.values(genderDistribution);
    drawChart('gender_distribution', 'pie', {
                    labels: labels,
                    datasets:[{
                        data: data
                    }]
                }
    );

    var typeDistribution = {{type_distribution | tojson }};
    var labels = Object.keys(typeDistribution);
    var data = Object.values(typeDistribution);
    drawChart('type_distribution', 'bar',{
                    labels: labels,
                    datasets:[{
                        data: data
                    }]
                }, {
                      legend: {
                        display: false,
                      }
                }
    );

    var sentimentDistribution = {{sentiment_distribution | tojson}};
    var labels = ["Negative", "Neutral", "Positive"]
    var raw_data = sentimentDistribution;
            console.log("init print raw_data");
            console.log(raw_data);
            //console.log(raw_data.length);
            var data = [0, 0, 0];

            for (const i in raw_data){
                console.log(i);
                console.log(raw_data[i]);
                if (i <= 0.3) {
                    data[0] += raw_data[i];
                }
                else if (0.3 < i && i <= 0.7){
                    data[1] += raw_data[i];
                }
                else if (0.7 < i){
                    data[2] += raw_data[i];
                }
            }
    drawChart('sentiment_dist_canvas', 'bar',{
                    labels: labels,
                    datasets:[{
                        data: data
                    }]
                }, {
                      legend: {
                        display: false,
                      }
                }
    );

    var ageDistribution = {{ age_distribution | tojson }};
    var labels = Object.keys(ageDistribution);
    var data = Object.values(ageDistribution);
    drawChart('age_distribution', 'pie', {
                    labels: labels,
                    datasets:[{
                        data: data
                    }]
                }
    );

    var mbtiDistribution = {{mbti_distribution | tojson }};
    var labels = Object.keys(mbtiDistribution);
    var data = Object.values(mbtiDistribution);
    drawChart('mbti_distribution', 'bar',{
                    labels: labels,
                    datasets:[{
                        data: data
                    }]
                }, {
                      legend: {
                        display: false,
                      }
                }
    );






</script>

</body>
{% endblock %}
