{% extends "nav.html" %}<!-- .navbar -->
{% block index %}

<body>
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(../static/img/VR.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animated fadeInDown" data-aos="fade-up">Immersive Virtual Reality Consulting</h2>
              <p class="animated fadeInUp" data-aos="fade-up" data-aos-delay="500">Experience Empathetic Consulting: Share Your Concerns and Emotions with AI
              </p>
              <a href="#about" class="btn-get-started" data-aos="fade-up" data-aos-delay="1000">Read More</a>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(../static/img/DS.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animated fadeInDown">Unveiling Insights: Analyzing Big Data from VR Applications</h2>
              <p class="animated fadeInUp">Analyzing People's Thoughts and Emotions During AI Consultations.</p>
              <a href="#about" class="btn-get-started" data-aos="fade-up" data-aos-delay="1000">Read More</a>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(../static/img/AI.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animated fadeInDown" data-aos="fade-up">Utilizing AI/ML Technology for Analysis and Classification</h2>
              <p class="animated fadeInUp" data-aos="fade-up">Analyzing Sentiments and Emotions of People Using ML-Based Models. </p>
              <a href="#about" class="btn-get-started" data-aos="fade-up" data-aos-delay="1000">Read More</a>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about aboutbg">
      <div class="container-fluid">

        <div class="row justify-content-center">
          <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a>
          </div>

          <div class="col-xl-5 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
            <h3 data-aos="fade-up" >About XR project</h3>
            <p data-aos="fade-down" data-aos-duration="1000">Project XR, in collaboration with the GIST VR Project at Carnegie Mellon University's Human-Computer Interaction Institute, strives to revolutionize mental health solutions through Extended Reality (XR) technologies. With a focus on combating self-critical and negative thoughts, the program pioneers tangible experiences that foster positive impact. By creating an immersive platform, the collaboration aims to provide users with innovative solutions, utilizing XR to enhance self-awareness and promote mental well-being.</p>
              <a href="#cta" class="btn btn-success animated fadeInUp w-50 mt-3"  data-aos="fade-up"  data-aos-duration="1000">Get Started</a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container-fluid">

        <div class="section-title" data-aos= "fade-up" data-aos-duration="1000">
          <h2>Features</h2>
          <h3>Check our <span>Features</span></h3>
        </div>

        <div class="row justify-content-center" data-aos= "fade-up" data-aos-duration="1000" data-aos-delay="500">
          <div class="col-xl-10">
            <div class="row">
              <div class="col-lg-4 col-md-6 icon-box">
                <div class="icon"><i class="bi bi-badge-vr"></i></div>
                <h4 class="title"><a href="">VR-based Consulting App</a></h4>
                <p class="description">We have implemented a VR-based app where users can join to share their worries and consult with either an AI or human consultant, finding relief and solutions.</p>
              </div>
              <div class="col-lg-4 col-md-6 icon-box">
                <div class="icon"><i class="bi bi-clipboard-data"></i></div>
                <h4 class="title"><a href="">Data Science</a></h4>
                <p class="description">We've analyzed the data collected from our VR-based app to enhance its functionality and gain insights into users' feelings within the VR environment.</p>
              </div>
              <div class="col-lg-4 col-md-6 icon-box">
                <div class="icon"><i class="bi bi-laptop"></i></div>
                <h4 class="title"><a href="">Machine Learning and AI</a></h4>
                <p class="description">We utilized machine learning techniques, including NLP and computer vision, to analyze the sentiment and emotions of our users</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="text-center">
          <h3 data-aos= "fade-up" data-aos-duration="1000">Experience the VR-based consulting application.</h3>
          <p data-aos= "fade-up" data-aos-duration="1000"> Window & Mac versions are available</p>
          <div class="row">
            <div class="col-md-6" data-aos= "fade-right" data-aos-delay="300" data-aos-duration="1000">
              <p>Download for Mac</p>
              <i class="bi bi-apple h4"></i>
            </div>
            <div class="col-md-6"data-aos= "fade-left" data-aos-delay="300" data-aos-duration="1000">
              <p>Download for Windows</p>
              <i class="bi bi-windows h4"></i>
            </div>
            <div class="col-md-6">
              <a class="cta-btn" href="#" data-aos= "fade-in" data-aos-delay="600" data-aos-duration="1000">Download</a>
            </div>
            <div class="col-md-6">
              <a class="cta-btn" href="#" style="background-color: rgba(0, 253, 169, 0.666);" data-aos= "fade-in" data-aos-delay="600" data-aos-duration="1000">Download</a>
            </div>
        </div>

      </div>
    </section><!-- End Cta Section -->



  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">


    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>XR</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


</body>


    {% endblock %}