

    {% extends "nav.html" %}

    {% block profile %}

    <div class = "container">
        <div class = "card mt-5 shadow-lg border-0">
            <div class = "card-header bg-primary text-white pt-5">
                <h1 class="merriweather-bold">My Profile</h1>
            </div>
            <div class = "card-body mx-5 my-3">
                <div class = "row mt-3">
                    <div class = "col-12 col-md-4">
                        <label class="merriweather" style="font-size: 18px;"><strong>Username: </strong></label>
                        <p class="user-info input-blk mt-3" style="width: 80%; background-color: white;">{{username}}</p>
                    </div>
                    <div class = "col-12 col-md-4">
                        <label class="merriweather" style="font-size: 18px;"><strong>Age: </strong></label>
                        <p class="user-info input-blk mt-3" style="width: 80%; background-color: white;">{{age}}</p>
                    </div>
                    <div class = "col-12 col-md-4">
                        <label class="merriweather" style="font-size: 18px;"><strong>Email: </strong></label>
                        <p class="user-info input-blk mt-3" style="width: 80%; background-color: white;">{{email}}</p>
                    </div>
                </div>
                <div class = "row mt-3">
                    <div class = "col-12 col-md-4">
                        <label class="merriweather" style="font-size: 18px;"><strong>Country: </strong></label>
                        <p class="user-info input-blk mt-3" style="width: 80%; background-color: white;">{{country}}</p>
                    </div>
                    <div class = "col-12 col-md-4">
                        <label class="merriweather" style="font-size: 18px;"><strong>MBTI: </strong></label>
                        <p class="user-info input-blk mt-3" style="width: 80%; background-color: white;">{{MBTI}}</p>
                </div>
                <div class="row mt-3">
                    <div>
                        <label class="merriweather" style="font-size: 18px;"><strong>Short Description </strong></label>
                        <p class="user-info input-blk mt-3" style="background-color: white;">{{description}}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    {% endblock %}


<!-- show 6 user info, retrieve data from database/session -->